#background{
    background-color: gray;
    height: 600px; width: 800px; 
}

.container{
    background-color: yellow;
    margin: auto;
    width: 400px;
    margin-top: 500px;
    padding: 20px;
    border-radius: px;
}

.visor{
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}